*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    background: whitesmoke;
}
.container{
    padding: 0;
    margin: 0;
    height: 100vh;
}
.section{
    position: relative;
    top: 50%;
    left: 44%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 50px;
    margin-right: 50px;
}
.fb{
    padding: 65px 0;
}
.fb h1{
    color: #1877f2;
    font-size: 57px;
    margin-bottom: 10px;
}
.fb p{
    font-size: 24px;
    width: 400px;
    color: #1c1e21;
}
.login{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding-bottom: 24px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    width: 396px
}
.login input{
    font-size: 17px;
    padding: 14px 16px;
    width: 100%;
    border-radius: 6px;
    border: 0.1px rgba(0, 0, 0, 0.123) solid;
    outline: none;
}
.login input::placeholder{
    color: rgba(0, 0, 0, 0.26);
    font-weight: bold;
    font-size: 16px;
}
.login input:focus{
    border: 0.1px #1877f2 solid;
}
.login .passin{
    margin: 14px 0;
}
.login .btn{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 48px;
    line-height: 48px;
    display: block;
    transition: 0.2s;
}
.login .btn:hover{
    background-color: #0165e7;
}
.login .link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    margin: 18px 0;
    border-bottom: 1px rgba(0, 0, 0, 0.192) solid;
    padding-bottom: 20px;
}
.login .btn2{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    text-decoration: none;
    background: #42b72a;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    display: inline-block;
    text-align: center;
    margin: 0 20%;
    margin-top: 8px;
    margin-bottom: 3px;
    transition: 0.2s;
}
.login .btn2:hover{
    background: #379e22;
}
.login .out a{
    text-decoration: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    
}
.login .out{
    position: absolute;
    top: 110%;
    right: 3%;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}